<nav class="navbar" role="navigation">
    <div class="row" data-equalizer>
      <div class="small-8 medium-4 large-4 columns">
        <figure>
          <a href=""><img src="images/logoc.fw.png" alt=""></a>
        </figure>
      </div>
      <div class="small-12 medium-8 large-8 columns">
        <ul class="legals1">
          <li><a href="#">¿Cómo funciona?</a></li>
          <li><a href="#">Preguntas frecuentes.</a></li>
          <li><a href="#">Planes.</a></li>
          <li><a href="#">Únete al equipo.</a></li>
          <li><a href="login" class="button small success acceso"><span class="splik_icon-send"></span> Acceder.</a></li>
        </ul>
      </div>
    </div>
</nav>
<header>
  <div class="row">
    <div class="small-12 large-6">
      <h1 class="random">
        <script>
        	document.write(getMensaje());
				</script>
      </h1>
    </div>
      <div class="large-12 columns">
        <div class="medium-6 large-4 right columns">
          <figure>
            <small>Integrado a:</small>
            <img src="images/Quickbooks.png" alt="">
          </figure>
        </div>
        </div>
        <div class="large-12 columns">
          <div class="medium-4 large-6 columns left text-center intext">
            <a href="registro" class="button success expand radius"><span class="splik_icon-heart"> </span> Inicia tu prueba 15 días gratis.</a>
          </div>
          <div class="medium-4 large-4 columns right intext1">
            <p><small>Te ofrecemos una plataforma completa, sin complicadas instalaciones y sistemas feos difíciles de manejar.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="large-12 text-center">
    <h1><strong>Tendrás todos estos beneficios: </strong></h1>
  </div>
  <div>

  </div>
</section>
<section>
  <div class="large-12 text-center">
    <h1><strong>¿Qué dicen de Splik?</strong></h1>
  </div>
  <div>

  </div>
</section>
<section>
  <div class="large-12 text-center">
    <h1><strong>No esperes más, regístrate hoy y elige tu plan.</strong></h1>
    <div class="row" data-equalizer>
      <div class="medium-4 large-4 columns">
        <a href="registro" class="button radius">Activa una cuenta por 15 días, Gratis. <h6 class="label info">Con 15 timbres libres.</h6> </a>
      </div>
      <div class="medium-4 large-4 columns">
        <a href="mensual" class="button radius">Mensual por $ 325 MXN, timbres ilimitados. <h6 class="label success">Recomendado.</h6></a>
      </div>
      <div class="medium-4 large-4 columns">
        <a href="anual" class="button radius">Anual por $ 3,545 MXN, timbres ilimitados.  <h6 class="label alert">Descuento del 10%.</h6></a>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="clearfix">
    <div class="row">
      <div class="medium-6 large-6 columns">
        <div class="large-8 columns">
          <icon class="logo_splik splik_icon-splik"></icon>
          <h5 class="cc">&copy; 2015, <strong> Splik </strong> de México S.A. de C.V.</h5>
          <h6>*Todas las marcas e imágenes aquí presentadas pertenecen a sus respectivos dueños.</h6>
        </div>
      </div>
      <div class="medium-6 large-6 columns text-center">
        <p class="feedback">Siguenos</p>
        <ul class="social">
          <li><a href="http://www.facebook.com/splikmx"><span class="splik_icon-facebook"> </span></a></li>
          <li><a href="https://twitter.com/@SplikMX"><span class="splik_icon-twitter"> </span></a></li>
          <li><a href="https://plus.google.com/u/0/b/105215733035498117354/+SplikMx/posts"><span class="splik_icon-google"> </span></a></li>
          <li><a href="https://www.youtube.com/channel/UCDqKXeCXpHLm7zHjo1BwiTg"><span class="splik_icon-youtube4"></span></a></li>
        </ul>
        <h2><a href="https://twitter.com/search?q=%23SplikLove&src=typd">#SplikLove</a></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="legals">
        <li><a href="terminos">Terminos y Condiciones.</a></li>
        <li><a href="legal">Aviso Legal.</a></li>
      </ul>
    </div>
  </div>
</footer>
